<div class="container text-center pb-5">
  <img src="assets\img3.jpg" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100; opacity: 0.75;">


</div>

<div style="background-image: none;"></div>


<h1>¿Quienes somos?</h1>

<h3>Que ofrecemos:</h3>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita repudiandae magnam doloribus earum modi rem, nam quam pariatur ut iste quo aspernatur quos eveniet quas quibusdam fuga consequuntur possimus quasi!
</p>

<img style="border-radius: 20px "src="assets/img3.jpg" class="card-img-top" alt="...">

