<div class="colum" style="margin-top: 20px;">
  <div class="card" style="background-color: rgb(255, 180, 81);"  >
    <div class="card-header" style= "color: black; background-color:rgb(253, 142, 15); border-radius: 20px; margin-top: 10px;" >
      <h1>Articulo</h1>
  </div>
    <div class="card-body" style="background-color: rgb(255, 180, 81); border-radius: 20px; padding: 10px;">
      <img style="border-radius: 20px "src="assets/img.jpg" height="300px" width="400px" class="card-img-top" alt="...">

      <h2 class="card-title">Descripcion del producto</h2>
      <p class="card-text">CrossFit es un tipo de entrenamiento de ejercicios funcionales, constantemente variados, ejecutados a alta intensidad. CrossFit es un programa de fuerza y acondicionamiento físico total, que se basa en el incremento de las diez capacidades físicas más reconocidas por los especialistas en el entrenamiento deportivo con pesas. Durante la ejercitación se busca desarrollar la fuerza y el tono muscular e incrementar la funcionalidad de los músculos para repetir los movimientos en distintas situaciones de la vida real.</p>
      <h4 class="card-text" style="text-align: left;"><b>Valoraciones:</b> <mat-icon>star_rate</mat-icon><mat-icon>star_rate</mat-icon><mat-icon>star_rate</mat-icon><mat-icon>star_rate</mat-icon>
      </h4>
      <div style="align-items: flex-start;">
        <button type="button" mat-raised-button color="primary" style="margin-right: 5px; align-items: flex-start;"> <mat-icon>shopping_cart</mat-icon>Añadir al carrito </button>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" style="text-align: right;">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" style="align-content: flex-end;">
          <mat-icon>share</mat-icon>
        </button>

      </div>

    </div>
  </div>
  <div class="card" style="background-color: rgb(255, 180, 81);"  >
    <div class="card-header" style= "color: black; background-color:rgb(253, 142, 15); border-radius: 20px; margin-top: 10px;" >
      <h1>Articulo</h1>
  </div>
    <div class="card-body" style="background-color: rgb(255, 180, 81); border-radius: 20px; padding: 10px;">
      <img style="border-radius: 20px "src="assets/img.jpg" height="300px" width="400px" class="card-img-top" alt="...">

      <h2 class="card-title">Descripcion del producto</h2>
      <p class="card-text">CrossFit es un tipo de entrenamiento de ejercicios funcionales, constantemente variados, ejecutados a alta intensidad. CrossFit es un programa de fuerza y acondicionamiento físico total, que se basa en el incremento de las diez capacidades físicas más reconocidas por los especialistas en el entrenamiento deportivo con pesas. Durante la ejercitación se busca desarrollar la fuerza y el tono muscular e incrementar la funcionalidad de los músculos para repetir los movimientos en distintas situaciones de la vida real.</p>
      <h4 class="card-text" style="text-align: left;"><b>Valoraciones:</b> <mat-icon>star_rate</mat-icon><mat-icon>star_rate</mat-icon><mat-icon>star_rate</mat-icon><mat-icon>star_rate</mat-icon>
      </h4>
      <div style="align-items: flex-start;">
        <button type="button" mat-raised-button color="primary" style="margin-right: 5px; align-items: flex-start;"> <mat-icon>shopping_cart</mat-icon>Añadir al carrito </button>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" style="text-align: right;">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" style="align-content: flex-end;">
          <mat-icon>share</mat-icon>
        </button>

      </div>

    </div>
  </div>

  <div class="card" style="background-color: rgb(255, 180, 81);"  >
    <div class="card-header" style= "color: black; background-color:rgb(253, 142, 15); border-radius: 20px; margin-top: 10px;" >
      <h1>Articulo</h1>
  </div>
    <div class="card-body" style="background-color: rgb(255, 180, 81); border-radius: 20px; padding: 10px;">
      <img style="border-radius: 20px "src="assets/img.jpg" height="300px" width="400px" class="card-img-top" alt="...">

      <h2 class="card-title">Descripcion del producto</h2>
      <p class="card-text">CrossFit es un tipo de entrenamiento de ejercicios funcionales, constantemente variados, ejecutados a alta intensidad. CrossFit es un programa de fuerza y acondicionamiento físico total, que se basa en el incremento de las diez capacidades físicas más reconocidas por los especialistas en el entrenamiento deportivo con pesas. Durante la ejercitación se busca desarrollar la fuerza y el tono muscular e incrementar la funcionalidad de los músculos para repetir los movimientos en distintas situaciones de la vida real.</p>
      <h4 class="card-text" style="text-align: left;"><b>Valoraciones:</b> <mat-icon>star_rate</mat-icon><mat-icon>star_rate</mat-icon><mat-icon>star_rate</mat-icon><mat-icon>star_rate</mat-icon>
      </h4>
      <div style="align-items: flex-start;">
        <button type="button" mat-raised-button color="primary" style="margin-right: 5px; align-items: flex-start;"> <mat-icon>shopping_cart</mat-icon>Añadir al carrito </button>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" style="text-align: right;">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" style="align-content: flex-end;">
          <mat-icon>share</mat-icon>
        </button>

      </div>

    </div>
  </div>

  <div class="card" style="background-color: rgb(255, 180, 81);"  >
    <div class="card-header" style= "color: black; background-color:rgb(253, 142, 15); border-radius: 20px; margin-top: 10px;" >
      <h1>Articulo</h1>
  </div>
    <div class="card-body" style="background-color: rgb(255, 180, 81); border-radius: 20px; padding: 10px;">
      <img style="border-radius: 20px "src="assets/img.jpg" height="300px" width="400px" class="card-img-top" alt="...">

      <h2 class="card-title">Descripcion del producto</h2>
      <p class="card-text">CrossFit es un tipo de entrenamiento de ejercicios funcionales, constantemente variados, ejecutados a alta intensidad. CrossFit es un programa de fuerza y acondicionamiento físico total, que se basa en el incremento de las diez capacidades físicas más reconocidas por los especialistas en el entrenamiento deportivo con pesas. Durante la ejercitación se busca desarrollar la fuerza y el tono muscular e incrementar la funcionalidad de los músculos para repetir los movimientos en distintas situaciones de la vida real.</p>
      <h4 class="card-text" style="text-align: left;"><b>Valoraciones:</b> <mat-icon>star_rate</mat-icon><mat-icon>star_rate</mat-icon><mat-icon>star_rate</mat-icon><mat-icon>star_rate</mat-icon>
      </h4>
      <div style="align-items: flex-start;">
        <button type="button" mat-raised-button color="primary" style="margin-right: 5px; align-items: flex-start;"> <mat-icon>shopping_cart</mat-icon>Añadir al carrito </button>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" style="text-align: right;">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" style="align-content: flex-end;">
          <mat-icon>share</mat-icon>
        </button>

      </div>

    </div>
  </div>

  <div class="card" style="background-color: rgb(255, 180, 81);"  >
    <div class="card-header" style= "color: black; background-color:rgb(253, 142, 15); border-radius: 20px; margin-top: 10px;" >
      <h1>Articulo</h1>
  </div>
    <div class="card-body" style="background-color: rgb(255, 180, 81); border-radius: 20px; padding: 10px;">
      <img style="border-radius: 20px "src="assets/img.jpg" height="300px" width="400px" class="card-img-top" alt="...">

      <h2 class="card-title">Descripcion del producto</h2>
      <p class="card-text">CrossFit es un tipo de entrenamiento de ejercicios funcionales, constantemente variados, ejecutados a alta intensidad. CrossFit es un programa de fuerza y acondicionamiento físico total, que se basa en el incremento de las diez capacidades físicas más reconocidas por los especialistas en el entrenamiento deportivo con pesas. Durante la ejercitación se busca desarrollar la fuerza y el tono muscular e incrementar la funcionalidad de los músculos para repetir los movimientos en distintas situaciones de la vida real.</p>
      <h4 class="card-text" style="text-align: left;"><b>Valoraciones:</b> <mat-icon>star_rate</mat-icon><mat-icon>star_rate</mat-icon><mat-icon>star_rate</mat-icon><mat-icon>star_rate</mat-icon>
      </h4>
      <div style="align-items: flex-start;">
        <button type="button" mat-raised-button color="primary" style="margin-right: 5px; align-items: flex-start;"> <mat-icon>shopping_cart</mat-icon>Añadir al carrito </button>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" style="text-align: right;">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" style="align-content: flex-end;">
          <mat-icon>share</mat-icon>
        </button>

      </div>

    </div>
  </div>

  <div class="card" style="background-color: rgb(255, 180, 81);"  >
    <div class="card-header" style= "color: black; background-color:rgb(253, 142, 15); border-radius: 20px; margin-top: 10px;" >
      <h1>Articulo</h1>
  </div>
    <div class="card-body" style="background-color: rgb(255, 180, 81); border-radius: 20px; padding: 10px;">
      <img style="border-radius: 20px "src="assets/img.jpg" height="300px" width="400px" class="card-img-top" alt="...">

      <h2 class="card-title">Descripcion del producto</h2>
      <p class="card-text">CrossFit es un tipo de entrenamiento de ejercicios funcionales, constantemente variados, ejecutados a alta intensidad. CrossFit es un programa de fuerza y acondicionamiento físico total, que se basa en el incremento de las diez capacidades físicas más reconocidas por los especialistas en el entrenamiento deportivo con pesas. Durante la ejercitación se busca desarrollar la fuerza y el tono muscular e incrementar la funcionalidad de los músculos para repetir los movimientos en distintas situaciones de la vida real.</p>
      <h4 class="card-text" style="text-align: left;"><b>Valoraciones:</b> <mat-icon>star_rate</mat-icon><mat-icon>star_rate</mat-icon><mat-icon>star_rate</mat-icon><mat-icon>star_rate</mat-icon>
      </h4>
      <div style="align-items: flex-start;">
        <button type="button" mat-raised-button color="primary" style="margin-right: 5px; align-items: flex-start;"> <mat-icon>shopping_cart</mat-icon>Añadir al carrito </button>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" style="text-align: right;">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" style="align-content: flex-end;">
          <mat-icon>share</mat-icon>
        </button>

      </div>

    </div>
  </div>

  <div class="card" style="background-color: rgb(255, 180, 81);"  >
    <div class="card-header" style= "color: black; background-color:rgb(253, 142, 15); border-radius: 20px; margin-top: 10px;" >
      <h1>Articulo</h1>
  </div>
    <div class="card-body" style="background-color: rgb(255, 180, 81); border-radius: 20px; padding: 10px;">
      <img style="border-radius: 20px "src="assets/img.jpg" height="300px" width="400px" class="card-img-top" alt="...">

      <h2 class="card-title">Descripcion del producto</h2>
      <p class="card-text">CrossFit es un tipo de entrenamiento de ejercicios funcionales, constantemente variados, ejecutados a alta intensidad. CrossFit es un programa de fuerza y acondicionamiento físico total, que se basa en el incremento de las diez capacidades físicas más reconocidas por los especialistas en el entrenamiento deportivo con pesas. Durante la ejercitación se busca desarrollar la fuerza y el tono muscular e incrementar la funcionalidad de los músculos para repetir los movimientos en distintas situaciones de la vida real.</p>
      <h4 class="card-text" style="text-align: left;"><b>Valoraciones:</b> <mat-icon>star_rate</mat-icon><mat-icon>star_rate</mat-icon><mat-icon>star_rate</mat-icon><mat-icon>star_rate</mat-icon>
      </h4>
      <div style="align-items: flex-start;">
        <button type="button" mat-raised-button color="primary" style="margin-right: 5px; align-items: flex-start;"> <mat-icon>shopping_cart</mat-icon>Añadir al carrito </button>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" style="text-align: right;">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" style="align-content: flex-end;">
          <mat-icon>share</mat-icon>
        </button>

      </div>

    </div>
  </div>

  </div>

