<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon type="button" mat-button (click)="drawer.toggle()">menu</mat-icon>
  </button>
  <span>PonteFuerte</span>


  <span class="example-spacer"></span>
  <input class="form-control mr-sm-3" type="search" placeholder="Buscar articulos" aria-label="Buscador" style="width: 300px;">
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<body>
  <div style="align-content: center;">
    <mat-tab-group style="text-align: center;" >
      <mat-tab label="Inicio" routerLink="/inicio"><app-inicio></app-inicio></mat-tab>
      <mat-tab label="Listado de articulos" routerLink="/listado-articulos"> <app-listado-articulos></app-listado-articulos></mat-tab>
      <mat-tab label="Cesta" routerLink="/cesta"> <app-cesta></app-cesta> </mat-tab>
    </mat-tab-group>
  </div>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <h1>¿Que deseas?</h1>
      <mat-list>
        <mat-icon>settings</mat-icon>
        <mat-list-item> <mat-icon>settings</mat-icon> Ajustes</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 2</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 3</mat-list-item>
      </mat-list>
      <P>
        <mat-icon>settings</mat-icon>
        Ajustes
      </P>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>


</body>
